<div class="left">
  <button (click)="toggle()">Скрыть параметры</button>
  <div *ngIf="condition">
    <ul>
      <li *ngFor='let item of items'>{{item}}</li>
    </ul>
  </div>
</div>
<input type="text" [(ngModel)]="items"><br>
<input type="text" [(ngModel)]="items">
